footer {
	background: #2D3436;
	color: #DFE6E9;
	padding-top: 67px;
	padding-bottom: 66px; 
}

footer a {color: #DFE6E9;}
footer a:hover {color: #DFE6E9;}

.footer-about, .footer-nav, .footer-article, .footer-contact {
	position: relative;
 	width: 100%;
  	min-height: 1px;
  	padding-right: 15px;
  	padding-left: 15px;
}

.footer-about {
	-ms-flex: 0 0 29%;
    flex: 0 0 29%;
    max-width: 29%;
}

.footer-about img {
	width: 100%;
	height: auto;
}

.footer-about p{
	margin-bottom: 0;
	font-size: 0.875rem;
	text-align: justify;
	line-height: 16px;
	padding-top: 25px;
}

.footer-about__icon{
	padding-top: 25px;
	font-size: 1.125rem;
}

.footer-about__icon i {
	padding-right: 25px;
}

.footer-nav {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.footer-nav h5, .footer-article h5, .footer-contact h5{
	padding-bottom: 9px;
	font-size: 1.0625rem;
	line-height: 28px;
	font-family: "Gotham-Bold";
	margin-bottom: 0;
	position: relative;
}

.footer-nav h5:before, .footer-article h5:before, .footer-contact h5:before{  //border duzeltmek uchun
	position:absolute;
	bottom:0;
	left:0;
	width:50%;
	border-bottom: 3px solid #00D2D3;
	content:"";
}

.footer-nav ul{
	list-style-type: square;
	margin-bottom: 0;
	padding-left: 20px;
	padding-top: 24px; // ul li nin padding-top nezere alinib
	font-size: 0.875rem;
	line-height: 16px;
}

.footer-nav ul li {
	padding-top: 11px;
}

.footer-nav a:hover, .footer-contact a:hover, .footer-article a:hover{
  text-decoration: underline;
}


.footer-article {
	-ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.footer-article h5:before{  //border duzeltmek uchun
	width: 23%;
}

.footer-article__img {
	margin-top: 35px;
}

.footer-article__img img {
	margin-right: 15px;
}

.footer-article__img a{
	color: #00D2D3;
	font-family: "Gotham-Bold";
	line-height: 19px;
}

.footer-article__img a:hover{
	color: #00D2D3;
}

.footer-article p { 
	margin-bottom: 0;
	font-size: 0.875rem;
	text-align: justify;
	line-height: 19px;
	font-weight: normal;
}

.footer-article p a{color: #DFE6E9;}
.footer-article p a:hover{color: #DFE6E9;}

.footer-contact {
	margin-right: 0px;
	-ms-flex: 0 0 21%;
    flex: 0 0 21%;
    max-width: 21%;
}

.footer-contact h5:before {
	width:34%;
}

.footer-contact__item {
	margin-top: 15px;
	border-bottom: 1px dotted #ddd;
	padding-bottom: 15px;
	align-items: center;
}

.footer-contact__item-icon {
	height: 30px;
	width: 30px;
	margin-right: 30px;
	text-align: center;
}

.footer-contact__item-icon .fas {
	font-size: 1.875rem;
}

.footer-contact__item div a{
	font-size: 0.875rem;
	line-height: 16px;
}

.footer-copyrights {
	background: #232829;
	color: #DFE6E9;
	font-size: 1rem;
	line-height: 19px;
	padding-top: 17px;
	padding-bottom: 13px;

}

.footer-copyrights p{margin-bottom: 0;}

@media screen and (max-width: 1201px){
	.footer-about{
		-ms-flex: 0 0 66.666667%;
		flex: 0 0 66.666667%;
		max-width: 66.666667%;
		margin-bottom: 50px;
	}

	.footer-nav{
	    -ms-flex: 0 0 33.333333%;
	    flex: 0 0 33.333333%;
	    max-width: 33.333333%;
	    margin-bottom: 50px;
	}

	.footer-article {
		-ms-flex: 0 0 50%;
	    flex: 0 0 50%;
	    max-width: 50%;
	}

	.footer-contact {
		-ms-flex: 0 0 29%;
	    flex: 0 0 29%;
	    max-width: 29%;	
	}
}

@media screen and (max-width: 768px){

	.footer-article {
		-ms-flex: 0 0 66%;
	    flex: 0 0 66%;
	    max-width: 66%;
	}

	.footer-contact {
		-ms-flex: 0 0 34%;
	    flex: 0 0 34%;
	    max-width: 34%;	
	}

	.footer-contact__item-icon {
		margin-right: 5px;
	}
}

@media screen and (max-width: 555px){
		
	footer .row {
		justify-content: center;
	}

	.footer-about{
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
		margin-bottom: 50px;
	}

	.footer-article {
		-ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	    max-width: 100%;
	    order: 1;
	    padding-right: 15px;
	    padding-left: 15px;
	    margin-top: 50px;
	}

	.footer-nav{
	    -ms-flex: 0 0 50%;
	    flex: 0 0 50%;
	    max-width: 50%;
	    margin-bottom: 0;
	}

	.footer-contact {
		-ms-flex: 0 0 50%;
	    flex: 0 0 50%;
	    max-width: 50%;	
	}

	.footer-contact__item-icon {
		margin-right: 5px;
	}
}

@media screen and (max-width: 370px){
	.footer-contact__item {
		flex-direction: column;
		align-items: center;
	}
}