/* ========================
=======HEADER-CONTACT======
======================== */

.fa-envelope {
	font-size: 1.25rem;
}

.fa-phone {
	font-size: 0.9375rem;
}

.header-contact {
	padding-top: 0.8125rem;
	padding-bottom: 0.75rem;
	background: #FCFCFC;
}

.header-contact__left i{
	margin-right: 0.625rem;
}

.header-contact__left a{
	color: #444;
}

.h-phone  {
	margin-right: 3.125rem;
}

.header-contact__right a{
	color: #444;
	margin-right: 0.9375rem;
}

.header-contact__right a:last-child{
	margin-right: 0;
}

.header-contact__right a:nth-of-type(3) {
	border-right: 1px solid #C4C4C4;
	padding-right: 0.9375rem; 
} 

@media screen and (max-width: 576px){
	.h-phone  {
		margin-right: 5px;
	}

	.header-contact {
		padding-right: 10px;
		padding-left: 10px;
	}
}

@media screen and (max-width: 440px){
	.header-contact__right {
	    margin: 0 auto;
	    margin-top: 5px;
	    font-size: 16px;
	}

	.header-contact {
		padding-right: 10px;
		padding-left: 10px;
	}

	.header-contact .row {
		justify-content: center;
	}

	.header-contact__right {
		display: none;
	}
}

/* ========================
=======HEADER-MAPS=========
======================== */

.navbar {
	padding-right: 0;
}

.header-maps {
	border:1px solid #F0F0F0;
	margin-bottom: 0;
}

.header-maps div img {
	max-width: 80%;
	height: auto;
}

nav li {
	margin-right: 1rem;
	color: #00D2D3;
	font-size: 1rem;
	font-weight: bold;
}

nav li:last-child{
	margin-right: 0;
}

.nav-item {
	color: #00D2D3;

	&:hover {
		color: #00D2D3;
		line-height: 1.1875rem;
		padding-bottom: 26px;
		height: 100%;
		border-bottom: 2px solid #00D2D3;
	}

	&.active {
		padding-bottom: 26px;
		height: 100%;
		border-bottom: 2px solid #00D2D3;
	}
}

.dropdown {
    position: relative;
    display: inline-block;
	height: 61px;
	padding-top: 21px;
}

.dropdown-content {
	display: none;
    position: absolute;
    background-color: #f9f9f9;
   	width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    margin-left: -70px;
    justify-content: center;
    margin-top: 28px;
}

.dropdown .fa-sort-down {
	left: 50%;
	bottom: 10px;
	font-size: 20px;
}

.dropdown-content ul{
	padding-left:15px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content ul{
	list-style: none;
}

.dropdown-content li {
	margin-top: 5px;
	margin-right: 0;
	border-bottom: 1px dotted #ddd;
	padding-bottom: 3px;
}

.dropdown-content div:first-child li {
	padding-right: 15px;
}


@media screen and (max-width: 992px) {
.nav-item {

	&.active {
		padding-bottom:0px;
		border-bottom:0;
	}
}

}

@media screen and (max-width: 991px){
	.navbar{
		position: fixed;
		right: 0;
		margin-right: 10%;
		z-index: 1;
	}
	.navbar-toggler:hover {
		text-align: right;
		outline: none;
	}
	.navbar-toggler::before {
		text-align: right;
		outline: none;
	}
}
