.aside-item__img img{
	width: 100%;
	height: auto;
}

.aside{
	position: relative;
}

.aside-item__info {
	position: absolute;
	margin-top: 15%;
}

.aside-item__info h1{
	background: rgba(0,210,211,0.7);
	padding: 15px 30px ;
	color: #fff;
	font-size: 48px; 
	font-family: 'Gotham-Bold', Arial, 'sans-serif';
	line-height: 56px;
	margin-bottom: 0;
	display: inline;
}

.aside-item__info p{
	background: rgba(68, 68, 68, 0.7);
	padding: 15px 30px;
	color: #fff;
	margin-top: 30px;
	font-size: 23px; 
	width: 83.5%;
	font-weight: normal;
}

/* @media screen and (max-width: 1680px) {
	.aside-item__info h1{
		font-size: 36px;
		line-height: 42px;
	}
	.aside-item__info p{
		font-size: 17px;
	}
} */

@media screen and (max-width: 1420px) {
	.aside-item__info h1{
		font-size: 36px;
		line-height: 42px;		
	}
	.aside-item__info p{
		font-size: 17px;
	}
}

@media screen and (max-width: 1200px) {
	.aside-item__info h1{
		font-size: 33px;
		line-height: 28px;
	}
	.aside-item__info p{
		font-size: 16px;
	}
}


@media screen and (max-width: 1000px) {
	.aside-item__info h1{
		font-size: 32px;
		line-height: 23px;
		padding: 10px 14px;
	}
	.aside-item__info p{
		font-size: 16px;
		padding: 10px 14px;		
	}
}

@media screen and (max-width: 550px) {
	.aside-item__info h1{
		font-size: 24px;
		line-height: 20px;

}
	.aside-item__info p{
		font-size: 12px;
		padding: 5px 8px;
		margin-top: 20px;
	}
}