.about-text h2 {
	margin-top: 100px;
	color: #00D2D3;
	font-weight: 700;
}

.about-text h5 {
	color: #444444;
	margin-top:20px;
}

.about-text p {
	color: #444;
	margin-top:60px;
	text-align: justify;
}

.about-text__img {
	justify-content: flex-end;
}

.about-text img {
	margin-top: 52px;
	text-align: right;
	margin-bottom: 51px;
}

.about-img {
	align-items: flex-end;
	height: auto;
	padding: 0;
}

.about-img img {
	width: 100%;
}

@media screen and (max-width: 1000px){
	.about-text h2 {
		margin-top: 70px;
	}
	.about-text h5 {
		margin-top:14px;
	}
	.about-text p {
		margin-top:42px;
	}
	.about-text__img img{
		margin-top: 36.4px;
		margin-bottom: 35.7px;
	}
	.about-img img{
		display: none;
	}

}