.article-view {
	padding-top: 100px;
//	background: #f00;
}

.article-view__text h1{
	color: #00D2D3;
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 50px;
}

.article-view__text p{
	text-align: justify;
	color: #444;
}

.article-viwe__img img {
	width: 100%;
	height: auto;
}

.article-view .article-view__text:last-child p {
	padding-bottom: 30px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 30px;
}

.article-view-soc div h2{
	font-size: 16px;
	color: #444;
	margin-bottom: 20px; 
}

.article-view-soc {
	text-align: right;
}


.article-view-icon a {
	 margin-right: 10px;
}


.article-view-icon a:last-child {
	margin-right: 0;
}


.article-view-icon {
	flex-direction: row;
	display: flex;
	justify-content: flex-end;
	margin-bottom: 50px;
}

.article-view-icon i {
	width: 30px;
	height: 30px;
	border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;	
   	background: #f00;
   	color: #fff;
}

.article-view-icon .fa-facebook-f {
	background: #3B5998;
	font-size: 19px;	
	color: #fff;
}

.article-view-icon .fa-twitter{
	background: #55ACEE;
	font-size: 14px;	
	color: #F1F2F2;
}

.article-view-icon .fa-linkedin-in {
	background: #007AB9;
	font-size: 16px;	
	color: #F1F2F2;
}

.article-view-icon .fa-google-plus-g {
	background: #DC4E41;
	font-size: 16px;	
	color: #fff;
}

.article-view-icon .fa-vk {
	background: #4D76A1;
	font-size: 19px;	
	color: #fff;
}

.article-view-icon .fa-whatsapp {
	background: #25D366;
	font-size: 19px;	
	color: #fff;
}

.article-view-icon .fa-telegram-plane {
	background: #41B4E6;
	font-size: 19px;	
	color: #fff;
}

@media screen and (max-width: 1200px) {
	.article-viwe__img {
		margin-top: 50px;
		margin-bottom: 50px;
	}
}