.menu-article {
	padding-top: 40px;
}

.menu-article-item {
	margin-top: 60px;
}


.menu-article-item img{
	width: 100%;
}

.article-border	{
	border: 1px solid #DDDDDD;
	border-bottom: 7px solid #00D2D3;
	border-radius: 10px;
}

.menu-article__page {
	justify-content: center;
}

.menu-article__page ul {
	list-style-type:none;
	margin-bottom: 0;
	padding-left: 0;
	display: flex;
	margin-top: 57px;
	margin-bottom: 50px;
}

.menu-article__page ul li{
	display: inline-block;
	display: flex;
	justify-content: center;
	align-items: center;

	margin-right: 10px;
}

.menu-article__page ul li a {
	font-size: 14px;
	display: inline-block;
	color: #999;
	border: 1px solid #ddd;
	border-radius: 5px;
	min-width: 30px;
	min-height: 30px;
	display: flex;
}

.menu-article__page ul li a span {
	margin: 0 auto;
    align-items: center;
    display: flex;
}

.menu-article__page ul li a:hover {
	background: #00D2D3;
	color: #fff;
	border: 1px solid #00D2D3;
	transform: 1s;
}

