.menu-media-youtube {
	padding-top: 100px;
	padding-bottom: 100px;
	border-bottom: 1px solid #ddd;
}

.video-icon span {
	height: 90px;
	height: 100px;
}

.video-icon .fa-play{
	color: #f00;
	font-size: 90px;
}

.video-icon {
top:19%;
right: 41%;
}

.media-video video{
	width: 100%;
    height: auto;
}


.menu-media-youtube__text h1{
	font-size: 22px;
	color: #00d2d3;
	margin-bottom: 25px;
}

.menu-media-youtube__text .d-flex{
	font-size: 18px;
	color: #999;
	justify-content: space-between;
}

.menu-media-youtube__text p {
	font-size: 16px;
	color: #444;
	margin-top: 41px;
	text-align: justify;
}

.menu-media-youtube__text p a{
	color: #444;
}


@media screen and (max-width: 1000px) {

	.video-responsive {
		margin-bottom: 50px;
	}
}

/* youtube video responsive */

.video-responsive {
	position: relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow: hidden;
}

.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

/*==============================
==============ARTICLE===========
==============================*/	

.menu-media-article {
	margin-top: 50px;
}

.articel-item__border {
	border-radius: 10px;
	border: 1px solid #ccc;
}

.media-article-item {
	margin-top: 50px;
}

.media-article-item img{
	width: 100%;
	margin-bottom: 25px;
}

.articel-item__border div {
	padding-left: 15px;
	padding-right: 15px;
}

.articel-item__border div a:first-child {
	font-family: 14px;
	color: #00D2D3;
	font-weight: bold;
}

.articel-item__border div p{
	font-family: 12px;
	color: #444;
	margin-top: 20px;
	text-align: justify;
	height: 115px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.articel-item__border div div {
	text-align: center;
}

.articel-item__border div div a {
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid #444;
	font-weight: bold;
	text-align: center;
	padding: 5px 10px;
}

.articel-item__border div div a span {
	color: #444;
}

.menu-article-continue {
	margin-top: 60px;
}

.menu-article-continue button{
	color: #00D2D3;
	font-weight: bold;
	border: 1px solid #00D2D3;
	padding: 10px 20px;
	margin-bottom: 50px;
	background: #fff;
	outline: none;
	cursor: pointer;
}
