/**===============================
===========BIO-ABOUT-TOP==========
=================================*/

.bio-about-top {
	padding-top: 100px;
	padding-bottom: 142px;
}

.bio-about-top h1{
	font-size: 28px;
	line-height: 33px;
	color: #00D2D3;
	margin-bottom: 0;
	font-family: "Gotham-Bold" , Arial, 'sans-serif';
}

.bio-about-top h5{
	margin-top: 20px;
	margin-bottom: 0;
	font-size: 19px;
	line-height: 26px;
	color: #444;
} 

.bio-about-top p {
	margin-top: 50px;
	margin-bottom: 0px;
	font-size: 18px;
	text-align: justify;
	color: #444;
}

.bio-about-top img {
	width: 100%;
	height: auto;
}

@media screen and (max-width: 1200px) {
	.bio-about-top div img {
		display: none;
	}
	
	.bio-about-top {
	padding-bottom: 50px;
	}

}

/**===============================
===========BIO-ABOUT-BOTTOM=======
=================================*/

.bio-about-bottom {
	margin-top: 100px;
}

.bio-about-bottom__img img{
	width: 100%;
	height: auto;
}

.bio-about-bottom__text p {
	text-align: justify;
	color: #444;
	padding-top: 49px;
}

.bio-about-bottom__text div {
	justify-content: flex-end;
	margin-top: 50px;
	margin-bottom: 87px;
}

@media screen and (max-width: 1200px) {
	.bio-about-bottom__img img{
		display: none;
	}
	
	.bio-about-top {
	padding-bottom: 50px;
	}

	.bio-about-bottom__text p {
		padding-top: 0;
	}


}