.menu-contact {
	margin-top: 100px;
	margin-bottom: 100px;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position: absolute;
}

.menu-contact__icon {
	margin-top: 30px;
	align-items: center;
}

.menu-contact__icon span {
	width: 40px;
	height: 30px;
	margin-left: 10px;
	margin-right: 30px;
	display: flex;
    align-items: center;
 	justify-content: center;
}

.menu-contact__icon .fas {
	color: #00D2D3;
	font-size: 30px;

}

.menu-contact__icon p {
	color: #444;
	font-size: 18px;
	margin-bottom: 0;
}

.menu-contact-form input ,.menu-contact-form textarea{
	border: 1px solid #F5F5F5;
	border-radius: 5px;
	padding: 15px;
	outline: none;
	background: #F5F5F5;
}

input[type=text], textarea {
	width: 100%;
}

input[type=email], input[type=tel] {
	width: calc(50% - 15px);
}

input[type=tel] {
	margin-right: 15px
}

#ctopic {
	margin-top: 15px;
}

input[type=email] {
	margin-left: 15px;
}

.number-email {
	display: flex;
	justify-content: space-between;
}

.text-center {
	padding-top: 10px;
}

.text-center input {
	background: #00D2D3;
	border-radius: 5px;
	padding: 15px 40px;
	color: #FFFFFF;
}


@media screen and (max-width: 1000px){

	.menu-contact-form {
		margin-top: 50px;
	}

}