.mt-23 {
    margin-top: 23px !important;
}

.simple_tabs{ 
    margin-top: 30px;
    text-align: center;
}

.simple_tabs_section {
    margin-top: 40px;
    margin-bottom: 40px;
}

.simple_tabs .tab.current{ 
    padding:4px 12px 4px 12px;
    background:#00D2D3;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
}

.simple_tabs .tab{
    padding:4px 12px 4px 12px;    
    border-radius: 5px;
    color: #999;
    background: #DFE6E9;
    margin-right: 20px;
    font-size: 14px;
}

.tab {
    margin-top: 20px;
}

@media screen and (max-width: 100px) {

}

.display-none {
    display: none;
}

.menu_gallery img {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.outline {
    outline: 1px solid #000;
}

@media screen and (max-width: 992px){
    .d-none-gallery {
      display: none !important;
    }
}

@media screen and (min-width: 992px){
    .d-block-gallery {
      display: block !important;
    }
}

@media screen and (max-width: 992px){
    .d-block-gal {
      display: block !important;
    }
}

@media screen and (min-width: 992px){
    .d-none-gal {
      display: none !important;
    }
}