.gallery {
	padding-top: 100px;
	padding-bottom: 15px;
}

.galery-slider__border {border-right: 1px solid #ddd;}


.span-color {
	font-size: 1.75rem;
	border-bottom: 1px solid #ddd;
	padding-bottom: 15px;
	width: 100%;
}

.span-color span{
	color: #5FE3E4;
}

.slider-gallery__item {
	margin-top: 50px;
}

.gallery .owl-nav {
	color: #f00;
	font-size: 0.625rem;
}

.gallery .owl-nav i {
	border:1px solid #00D2D3;
	border-radius: 50%;
	background:#00D2D3; 
	display: flex;
	height: 25px;
	width: 25px;
}

.fa-chevron-left , .fa-chevron-right {
	display: flex;
	justify-content: center;
	align-items: center;
}


.gallery .fa-chevron-left:before , .gallery .fa-chevron-right::before{
	font-size: 0.75rem;
	color: #fff;
	display: inline-block;
}

.owl-nav button {outline: none;}

.gallery .owl-prev ,.gallery .owl-next {
	position: absolute;
	top: 0;
	right: 0;
	margin-right:15px; 
 }

 .gallery .owl-prev {
 margin-right: 44px;
 }
	
.gallery .owl-carousel {
	position: static !important;
}

/* ========================
===========QUOTE===========
======================== */

h2 {margin-bottom: 0;}

.slider-quote {
	padding-top: 50px;
}

.quote-item__text {
	background: #00D2D3;
	border:1px solid #00d2d3;
	border-radius: 10px;
}

.slider-quote__item .fas {
	font-size: 3.1875rem;
	color: #7EE7E8;
}

.quote-right {
	padding-left: 30px;
	padding-top: 30px;
}

.quote-left{
	text-align: right;
	margin-right: 30px;
	margin-bottom: 30px;	
}

.quote-item__text p{
	color: #fff;
	text-align: justify;
	margin-left:73px;
	margin-right: 73px;
	font-size:1.1225rem;
	font-weight: bold;
	margin-bottom: 0; 
}

.quote-item__info {
	text-align: right;
	margin-top: 30px;
}

.quote-item__info img{
	width: 50px !important;
	height: auto;
	margin-left: 30px;
}

.quote-item__info h4{
	font-size: 1.1125rem;
	font-weight: bold;
	color: #444;
	align-self: center;
}

.quote-item__info h4 span{
	font-size: 0.875rem;
	color: #999;
	padding-top: 8px;
}

@media screen and (max-width: 1000px) {
	.galery-slider__border{
		margin-bottom: 50px;
		border-right: none;
	}
}