article {
	margin-bottom: 100px; 
} 

article h3 {
	margin-bottom:0;
	font-size: 1.75rem;
	color: #444;
	border-bottom: .5px solid #ddd;
	padding-bottom: 15px;
	margin-bottom: 50px;
	margin-top: 85px;
}

.slider-article__item {
	border:1px solid #ddd;
	border-radius: 10px;
	border-bottom: 7px solid #00D2D3;
}

.article-item__text {
	padding: 1.875rem;
}

.article-item__text a:first-child{
	font-size: 1.375rem;
	color: #00D2D3;
}

.article-item__text a:hover{
	color: #00D2D3;
	text-decoration: underline;
}

.article-item__text p {
	text-align: justify;
	color: #444;
	margin-top: 25px;
	height: 115px;
	overflow: hidden;
}

.article-item__text a:last-child {
	margin-top:25px;
	display: inline-block;
}

.article-item__text a span{
	color: #444;
	font-size: 0.875rem;
	border:1px solid #ddd;
	padding: 8px 12px;
	line-height: 16px;
	font-family: "Gotham-Bold";
}


article .owl-prev , article .owl-next {
	position: absolute;
	top: 50%;
 }

article .owl-prev {
	margin-left: -35px;
}

article .owl-next {
	right: 0;
	margin-right:-35px;
}

article .owl-nav i {
	border:1px solid #00D2D3;
	background:#00D2D3; 
	display: inline-block;
	height: 65px;
	width: 35px;
}

article .owl-prev i {
	border-radius: 5px 0 0 5px;
}

article .owl-next i {
	border-radius: 0 5px 5px 0;
}

article .fa-chevron-left:before , article .fa-chevron-right::before{
	font-size: 1.25rem;
	color: #fff;
	display: inline-block;
	margin-top: 61%;
}

.article_padding{
	padding-left:50px;
	padding-right:50px;
}


