
@font-face {
    font-family: 'Gotham-Bold';
    src: url('../fonts/gotham-convert/gotham-bold/Gotham-Bold.eot');
    src: url('../fonts/gotham-convert/gotham-bold/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gotham-convert/gotham-bold/Gotham-Bold.woff2') format('woff2'),
        url('../fonts/gotham-convert/gotham-bold/Gotham-Bold.woff') format('woff'),
        url('../fonts/gotham-convert/gotham-bold/Gotham-Bold.ttf') format('truetype'),
        url('../fonts/gotham-convert/gotham-bold/Gotham-Bold.svg#Gotham-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Regular';
    src: url('../fonts/gotham-convert/gotham-book/Gotham.eot');
    src: url('../fonts/gotham-convert/gotham-book/Gotham.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gotham-convert/gotham-book/Gotham.woff2') format('woff2'),
        url('../fonts/gotham-convert/gotham-book/Gotham.woff') format('woff'),
        url('../fonts/gotham-convert/gotham-book/Gotham.ttf') format('truetype'),
        url('../fonts/gotham-convert/gotham-book/Gotham.svg#Gotham') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	margin:0;
	padding:0;
	font-family: 'Gotham-Regular', Arial, 'sans-serif';
	line-height: normal;
}

html, body {
	font-size: 16px;
}

@media screen and (max-width: 1366px){
    html, body{
        font-size: 15.40px;
    }
}

@media screen and (max-width: 1200px){
    html, body{
        font-size: 13.52px;
    }
}

@media screen and (max-width: 992px){
    html, body{
        font-size: 11.17px;
    }
}

a {text-decoration: none;}
a:hover {text-decoration: none;}


