@font-face {
    font-family: 'Gotham';
    src: url('Gotham.eot');
    src: url('Gotham.eot?#iefix') format('embedded-opentype'),
        url('Gotham.woff2') format('woff2'),
        url('Gotham.woff') format('woff'),
        url('Gotham.ttf') format('truetype'),
        url('Gotham.svg#Gotham') format('svg');
    font-weight: normal;
    font-style: normal;
}

